body 
    font-family: 'Comfortaa'
    font-weight: 400
    .main-display
        .top-menu
            border: 1px solid red 
            .menu-items
                .logo-item
                    p
                        font-family: 'Rochester'
                        font-size: 40px
                .catalog-item
                .basket-item
                .enter-item
        .main-box 
            .text-box
                .main-title
                    h1
                        font-family: 'Roboto'
                        font-weight: 900
                        font-size: 64px 
                .main-description
                .social-box
                    .social-vk
                    .social-inst
                    .social-tg
            .image-box



 

